version: '3.4'
services:
    react-app:
      stdin_open: true
      build:
        context: .
        dockerfile: Dockerfile
      volumes:
          - '.:/usr/src/app'
          - /usr/src/app/node_modules
      expose:
        - 3000
      ports:
        - 3000:3000
      environment:
          - CHOKIDAR_USEPOLLING=true


    react-app-2:
        stdin_open: true
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - '.:/usr/src/app'
            - /usr/src/app/node_modules
        expose:
            - 3000
        ports:
            - 3001:3000
        environment:
            - CHOKIDAR_USEPOLLING=true