.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  .table {
    background-color: #111;
    .tableCell {
      color: #999;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }

    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  input {
    background-color: transparent;
  }

}
#tableProducts  {
  display: flex;
  align-items: center;
  justify-content: center;
}
#table {
  display: flex;
  align-items: center;
  justify-content: center;
}
#top {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6439ff;
}