.barC {
    flex: 4;
    padding: 5px;
    color: gray;
    width: 50%;
  
    .reloadButton {
      color: black;
      background-color: lightgrey;
    }
  
    .barTitle {
      margin-bottom: 20px;
      text-align: center;
  
    }
  }