.barC {
    flex: 4;
    padding: 60px;
    color: gray;
    width:80%;
  
    .reloadButton {
      color: black;
      background-color: lightgrey;
    }
  
    .barTitle {
      margin-bottom: 20px;
      text-align: center;
  
    }
  }