.doughnutC {
    flex: 4;
    padding: 10px;
    color: gray;
    width: 400px;
  
    .reloadButton {
      color: aqua;
      background-color: black;
    }
  
    .doughnutTitle {
      margin-bottom: 20px;
      text-align: center;
  
    }
  } 