.doughnutC {
  flex: 4;
  padding: 50px 30px 50px 300px;
  color: gray;
  width: 45%;

  .reloadButton {
    color: aqua;
    background-color: black;
  }

  .doughnutTitle {
    margin-bottom: 20px;
    text-align: center;

  }
}