.lineC {
  flex: 4;
  padding: 30px 50px 50px 150px;
  color: gray;
  width: 75%;

  .lineTitle {
    margin-bottom: 20px;
    text-align: center;
}

  .reloadButton {
    color: aqua;
    background-color: black;
}

}