.lineC {
    flex: 4;
    padding: 20px;
    color: gray;
    width: 100%;
  
    .lineTitle {
      margin-bottom: 20px;
      text-align: center;
    }
  
    .reloadButton {
      color: aqua;
      background-color: black;
    }
  
  } 