#tableComp {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tableComp td,
#tableComp th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tableComp tr:nth-child(even){background-color: #f2f2f2;}

#tableComp tr:hover {background-color: #ddd;}

#tableComp th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}